<!-- <!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="{% static './css/index.css' %}">
</head>

<body>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="product-container" style="width: 30rem">
                    <div class="product-gallery">
                        <img id="mainImage" src="{{product.image.url}}" alt="Product Image" />
                    </div>
                    <div class="product-details">
                        <h3>{{product.name}}</h3>
                        <p><del>₹{{product.price}}/-</del></p>
                        <p class="price">₹{{product.price}}/-</p>
                        <p class="description">{{product.description}}</p>
                        <button class="add-to-cart" type="submit">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="product-container" style="width: 30rem">
                    <div class="product-gallery">
                        <img id="mainImage" src="{{product.image.url}}" alt="Product Image" />
                    </div>
                    <div class="product-details">
                        <h3>{{product.name}}</h3>
                        <p><del>₹{{product.price}}/-</del></p>
                        <p class="price">₹{{product.price}}/-</p>
                        <p class="description">{{product.description}}</p>
                        <button class="add-to-cart" type="submit">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="product-container" style="width: 30rem">
                    <div class="product-gallery">
                        <img id="mainImage" src="{{product.image.url}}" alt="Product Image" />
                    </div>
                    <div class="product-details">
                        <h3>{{product.name}}</h3>
                        <p><del>₹{{product.price}}/-</del></p>
                        <p class="price">₹{{product.price}}/-</p>
                        <p class="description">{{product.description}}</p>
                        <button class="add-to-cart" type="submit">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html> -->